absl-py==2.5.0
array_record==0.6.0
attrs==26.1.0
chex==0.1.90
cloudpickle==3.1.2
dm-tree==0.1.10
etils==1.14.0
flax==0.10.4
fsspec==2026.6.0
grain==0.2.3
humanize==4.16.0
jax==0.4.38
jaxlib==0.4.38
jaxtyping==0.3.11
markdown-it-py==4.2.0
mdurl==0.1.2
ml_dtypes==0.5.4
more-itertools==11.1.0
msgpack==1.2.1
nest-asyncio==1.6.0
numpy==2.5.1
opt_einsum==3.4.0
optax==0.2.5
orbax==0.1.9
orbax-checkpoint==0.11.5
platformdirs==4.10.0
protobuf==7.35.1
Pygments==2.20.0
PyYAML==6.0.3
rich==15.0.0
scipy==1.18.0
setuptools==83.0.0
simplejson==4.1.1
tensorstore==0.1.84
toolz==1.1.0
treescope==0.1.10
typing_extensions==4.16.0
wadler_lindig==0.1.7
wrapt==2.2.2
yapf==0.43.0
zipp==4.1.0
